.habilidades {
    width: 100%;
    height: auto;
    background-image: url('../assets/img/Workspace3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px  20px;
    position: relative;
}

.habilidades::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #000000, #000000);
    top: 0;
    left: 0;
    opacity: 0.65;
}

.contain-habilidades {
    width: 90%;
    padding: 10px;
    height: auto;
    display: grid;
    grid-template-columns: 25% 25% 30%;
    justify-content: space-around;
    color: whitesmoke;
    z-index: 2;
    gap: 2.7rem;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.contain-icon-hability {
    display: flex;
    flex-direction: column;
}

.icon {
    font-size: 2.2rem;
    color: #C49B66;
}

.hability {
    padding: 10px 0px;
    position: relative;
}

.hability::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: gray;
    left: 0px;
    bottom: 0;
}

.hability::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 1px;
    background-color: #C49B66;
    left: 20%;
    bottom: 0;
}

.hability>h3 {
    font-weight: 400;
    font-size: 1.6rem;
    font-family: var(---Josefin-Sans);
}

.data {
    font-family: var(---Josefin-Sans);
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
}

.data>h3 {
    font-size: 1.15rem;
    font-weight: 400;
    color: whitesmoke;
}

.data>p {
    font-size: 1.05rem;
    font-weight: 200;
}

.data>h4 {
    font-size: 1rem;
    font-weight: 400;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.skills-progress {
    height: 3px;
    width: 100%;
    background-color: rgba(88, 86, 86, 0.281);
    position: relative;
    transform-origin: left;
    transform: scaleX(0);
    animation: progres 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes progres {
    100%{
        transform: scaleX(1);
    }
}

.skills-progress .progress {
    height: 100%;
    width: 90%;
    position: absolute;
    transform-origin: left;
    background-color: #C49B66;
    opacity: 0;
    animation: allprogres 0.5s 1s linear forwards;
}

@keyframes allprogres {
    100%{opacity: 1;}
}



.skills-progress .progress::before {
    position: absolute;
    content: "";
    top: -4px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0;
    border-top-color: #C49B66;
    opacity: 0;
    animation: progresing 0.5s 1.5s linear forwards;
}



.skills-progress.html .progress {
    width: 95%;
}

.skills-progress.css .progress {
    width: 90%;
}

.skills-progress.js .progress {
    width: 75%;
}

.skills-progress.react .progress {
    width: 70%;
}

.skills-progress.github .progress {
    width: 50%;
}


.skills-progress .progress::after {
    position: absolute;
    padding: 1px 2px;
    border-radius: 3px 3px 0px 3px;
    top: -14px;
    font-size: 0.58rem;
    right: 0;
    background-color: #C49B66;
    opacity: 0;
    animation: progresing 0.5s 1.5s linear forwards;
}

@keyframes progresing {
    100%{opacity: 1;}
}

.skills-progress.html .progress::after {
    content: '95%';
}

.skills-progress.css .progress::after {
    content: '90%';
}

.skills-progress.js .progress::after {
    content: '75%';
}

.skills-progress.react .progress::after {
    content: '70%';
}

.skills-progress.github .progress::after {
    content: '50%';
}

@media (max-width:620px) {
    .contain-habilidades {
        width: 90%;
        height: auto;
        display: grid;
        grid-template-columns: auto;
    }


}