:root {
    ---Poppins: 'Poppins', sans-serif;
    ---Josefin-Sans: 'Josefin Sans', sans-serif;
    ---DarkActive:#000000;
    ---DarkInactive:rgb(222, 217, 217);
    ---letter-Dark-Inactive:#000000;
    ---letter-Dark-Active:white;
    ---Parrafo-Dark-inactive:rgb(0, 0, 0);
    ---Parrafo-Dark-active:rgb(189, 185, 185);
  }
  
  .layout{
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color:var(---DarkInactive);
    transition: all .5s ease-in-out;
  }
  
  .layout.active{
    background-color: var(---DarkActive);
    transition: all .5s ease-in-out;
  }
  
  .layout.active h2{
    color: var(---letter-Dark-Active);
  }
  
  .layout h2{
    color:var(---letter-Dark-Inactive) ;
  }
  
  .layout.active .redes{
    border: 1px solid white;
    color: whitesmoke;
  }
  
  .layout .redes{
    border: 1px solid rgb(72, 70, 70);
    color: rgba(11, 11, 11, 0.857);
  }
  
  
  .layout .parrafo, .layout footer>span{
    color:var(---Parrafo-Dark-inactive);
    transition: all ease-in-out .7s;
  }
  
  .layout.active .parrafo,.layout.active footer>span{
    color: var(---Parrafo-Dark-active);
    transition: all ease-in-out .7s;
  }
  
  .layout>nav.active{
    background-color: var(---DarkInactive);
    color: #000000;
  }
  
  .layout>nav.active a{
    color: #000000;
    transition: all .5s ease-in-out;
  }
  
  .layout.active>nav.active{
    background-color:black;
  }
  
  .layout.active>nav.active a{
    color: whitesmoke;
    transition: all .5s ease-in-out;
  }
  
  .dark{
    font-size: 1.2rem;
    background-color: rgb(5, 17, 55);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(10, 7, 7);
    padding: 2px 5px;
    border-radius: 20px;
    display: flex;
    gap: .2rem;
    position: relative;
    cursor: pointer;
    transition: all ease-in-out .5s;
    box-shadow: 0px 0px 5px 0px rgba(14, 13, 13, 0.88);
  }
  
  .dark::after{
    content:'';
    width: 6px;
    height:6px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(6, 4, 4);
    border-radius: 50%;
    position: absolute;
    right:unset;
    left:0;
    transform: translateY(-12%);
    transition: all ease-in-out .5s;
  }
  
  .dark.active{
    font-size: 1.2rem;
    background-color: rgb(245, 208, 74);
    color: whitesmoke;
    border: 1px solid rgb(255, 255, 255);
    padding: 2px 5px;
    border-radius: 20px;
    display: flex;
    gap: .2rem;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(235, 235, 133, 0.88);
    transition: all ease-in-out .5s;
  }
  
  .dark.active::after{
    content:'';
    width: 6px;
    height:6px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(237, 237, 237);
    border-radius: 50%;
    position: absolute;
    left: unset;
    right:0;
    transform: translateY(-12%);
    transition: all ease-in-out .5s;
  }
  
  .nav {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background:transparent;
    top: 0;
    z-index: 100;
    transition: all .4s ease-in ;
  }
  
  .nav.active{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    animation: fadeInDown;
    animation-duration: .6s;
  }
  
  .contain-menu{
    padding: 5px;
    font-size: 1.6rem;
    color: whitesmoke;
    display: none;
  }
  
  .contain-nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contain-logo {
    width: 150px;
    height: 50px;
  }
  
  .logo{
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/Logo-nav.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .8s ease-in-out;
  }
  
  .logo.active{
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/Logo-nav-active.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .8s ease-in-out;
  }
  
  .nav-contain-rutes {
    display: flex;
    justify-items: center;
    padding: 10px;
  }
  
  .ul-rutes {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;
  }
  
  .ul-rutes a{
    font-weight: 600;
  }
  
  .nav-link {
    text-decoration: none;
    color: whitesmoke;
    font-family: var(---Josefin-Sans);
    font-size: 0.96rem;
  }
  
  .nav-link:hover {
    color:#C49B66 !important;
  }
  
  .Inicio {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/img/Portada.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    top: 0;
  }
  
  .Inicio::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #000000, #000000);
    top: 0;
    left: 0;
    opacity: 0.72;
  }
  
  .contain-content {
    position: absolute;
    bottom: 20%;
    color: whitesmoke;
    z-index: 2;
  }
  
  .content-yo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    padding: 10px;
  }
  
  .content-yo>* {
    font-family: var(---Josefin-Sans);
    font-weight: 300;
    font-size: 3.2rem;
    color: whitesmoke;
  }
  
  .bx-heart {
    color: red;
    font-size: 3.4rem;
    animation: heart 2s infinite linear alternate-reverse;
  }
  
  @keyframes heart {
    0% {
      opacity: 0
    };
    25% {
      opacity: 0.3
    };
    50% {
      opacity: 0.6
    };
    100% {
      opacity: 1
    };
  }
  
  .content-soy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }
  
  .content-soy>.title-soy {
    font-family: var(---Josefin-Sans);
    font-weight: 200;
    font-size: 4rem;
    color: whitesmoke;
  }
  
  .text {
    font-family: monospace;
    font-family: var(---Josefin-Sans);
    font-size: 3.4rem;
    font-weight: 600;
  }
  
  @media screen and (max-width:620px){
    .content-yo{
      font-size: 2.5rem;
    }
  
    .content-soy>.title-soy{
      display: none;
    }
  
    .content-soy>.text{
      font-size: 2rem;
    }
  }
  
  @media screen and (max-width:748px){
  
    .layout.active .nav-contain-rutes.active{
      background-color: var(---DarkActive);
      transition: all .5s ease-in-out;
    }
  
    .layout .nav-contain-rutes.active{
      background-color:var(---DarkInactive);
      transition: all .5s ease-in-out;
    }
  
    .layout.active .nav-contain-rutes.active a,.layout.active .contain-menu {
      color: var(---letter-Dark-Active);
    }
    .layout .nav-contain-rutes.active a, .layout .contain-menu{
      color: var(---letter-Dark-Inactive);
    }
  
    .contain-nav{
      width: 95%;
    }
  
    .contain-menu{
      display: block;
      cursor: pointer;
    }
  
    .nav-contain-rutes {
      align-items: center;
      flex-direction: column;
      width: 50%;
      top: 7.95vh;
      right: 0;
      height: 100vh;
      position: absolute;
      transform: translateX(100%);
      transition: all .5s ease-in-out;
    }
  
    .nav-contain-rutes.active{
      transform: translate(0);
    }
  
    .ul-rutes {
      flex-direction: column;
      height: 100%;
      gap: 4.5rem;
    }
  
    .ul-rutes>li>a{
      font-size: 1.25rem;
    }
  }