.contacto{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/img/smartphone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.contacto::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #000000, #000000);
    top: 0;
    left: 0;
    opacity: 0.78;
  }

.container-contacto{
    width: 90%;
    height: 90%;
    z-index: 2;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.title-contact{
    padding: 5px 5px;
    font-size: 1.6rem;
    font-family:var(---Josefin-Sans);
    position: relative;
}

.title-contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left:0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.658);
}

.title-contact::after{
    content: "";
    position: absolute;
    width: 30%;
    height: 1px;
    left: 70%;
    bottom: 0;
    background-color: #C49B66;
}

.contact-means{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 90%;
    height: 50%;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
}

.info>i{
    font-size: 2.1rem;
    color: #C49B66;
}

.contacting{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    border-left: 1px solid #C49B66;
    font-family: var(---Josefin-Sans);
}

.contacting>h2{
    font-size: 1.1rem;
    font-weight: 400;
}

.contacting>p{
    font-size: 1rem;
    font-weight: 200;
}

footer{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: whitesmoke;
    font-family: var(---Josefin-Sans);
    font-size: .9rem;
}